
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;

    --red: #EB5F6F;
    --white: #ffffff;
    --black: #575C61;
    --gray: #F6F6F6;
    --speed: all 0.3s ease;
}

body {
    color: var(--black);
}

/*                              global
********************************************/
a {
    text-decoration: none;
    transition: var(--speed);
}

ul {
    list-style: none;
}

.link {
    color: var(--black);
}
.link:hover {
    color: var(--red);
}

.button {
    display: inline-block;
    text-transform: capitalize;
    border: 2px solid;
    border-radius: 5px;
}
.button-main {
    margin-top: 10px;
    color: var(--red);
    padding: 10px 20px;
}
.button-main:hover {
    color: var(--white);
    background: var(--red);
    border-color: var(--red);
}

.section-header {
    color: var(--black);
    padding-bottom: 3rem;
    text-align: center;
    font-size: 2rem;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}
section,
#footer {
    padding: 3rem 0;
}
/*      display: grid  */
.dg {
    display: grid;
    gap: 2rem 1.35rem;
}
.dg3 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.dg4 {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/*          gray bacground      */
#about,
#portfolio,
#team {
    background: var(--gray);
}

/*                              header
********************************************/
#header {
    width: 100%;
    height: 60px;
    z-index: 9999;
    position: sticky;
    top: 0;
    background: var(--white);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.1);
}
.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 115px;
}

#menu li {
    display: inline-block;
}
#menu a {
    padding: 0 5px;
    font-weight: 500;
}

.label {
    display: none;
}
#toggler {
    display: none;
}
/*                              hero
********************************************/
.hero {
    height: 400px;
    background: url('../img/hero.jpg') no-repeat;
    background-size: cover;
    color: var(--white);
    display: grid;
    gap: 50px;
    justify-items: center;
    text-align: center;
    box-shadow: inset 0 0 20px 600px rgba(0, 0, 0, 0.35);
}
.hero-text {
    width: 80%;
    align-self: end;
}
.hero-text h1 {
    font-size: 2rem;
    line-height: 2;
}
.hero-text p {
    padding: 0 10%;
}

.hero-buttons .button {
    display: inline-block;
    padding: 12px 20px;
    color: var(--gray);
    margin: 0 8px;
    font-weight: 500;
}
.hero-buttons .button:hover {
    background: rgba(73, 72, 72, 0.75);
}
.hero-buttons .button:last-child {
    color: var(--red);
}
.hero-buttons .button:last-child:hover {
    background: var(--white);
    border-color: var(--white);
}
/*                              about
********************************************/
.about-box {
    text-align: center;
}
.about-box > * {
    margin-bottom: 10px;
}
.about-box img {
    width: 90px;
    margin-bottom: 15px;
}
/*                              service
********************************************/
.service-box {
    padding: 10px;
    display: grid;
    gap: 15px;
    grid-template-columns: auto 1fr;
    align-items: start;
}
.service-box h3 {
    margin-bottom: 10px;
    display: inline-block;
}
.icon {
    color: var(--red);
}
/*                              portfolio
********************************************/
#portfolio .dg3 {
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.portfolio {
    margin-top: 2rem;
}
.portfolio-item {
    background: red;
    position: relative;
}
.portfolio-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    overflow: hidden;
}
.portfolio-item .overlay {
    background: rgba(235, 88, 111, 0.7);
    color: var(--white);
    position: absolute;
    top: 10%;
    left: 10%;
    display: block;
    width: 80%;
    height: 80%;
    opacity: 0;
    transition: var(--speed);

    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.portfolio-item .icon-box {
    transition: var(--speed);
}
.portfolio-item .icon-box a {
    color: var(--white);
    margin: 0 3px;
    display: inline-block;
}
.portfolio-item .icon-box a i {
    border: 1px solid var(--white);
    padding: 10px;
    border-radius: 50%;
    transition: var(--speed);
}
.portfolio-item .icon-box a:hover i {
    background: var(--white);
    color: var(--red);
}

.portfolio-item .link {
    text-transform: uppercase;
    color: var(--white);
    font-size: 0.9rem;
    transform: scale(0);
}

.portfolio-item:hover .overlay {
    opacity: 1;
    transform: scale(1.1);
}
.portfolio-item:hover .icon-box {
    transform: translateY(50%);
}
.portfolio-item:hover .link {
    transform: scale(1);
}

.portfolio-menu {
    padding: 10px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.portfolio-menu .button {
    border: 2px solid var(--red);
    color: var(--black);
    padding: 8px 12px;
    margin: 3px;
    border-radius: 0;
}
.portfolio-menu a.active,
.portfolio-menu a:hover {
    background: var(--red);
    color: var(--white);
}


/*                              features
********************************************/
.feature h3 {
    text-transform: uppercase;
}
.feature .icon {
    border: 1px solid var(--gray);
    padding: 15px;
    font-size: 0.75rem;
    border-radius: 5px;
    transition: var(--speed);
}
.feature .service-box:hover  .icon{
    background: var(--red);
    color: var(--white);
}


/*                              counter
********************************************/
#counter,
#testimonial {
    background: url('../img/testimonial.jpg') no-repeat;
    background-size: cover;
    color: var(--white);
}
.counter-box > * {
    margin-bottom: 1rem;
    text-align: center;
}
.counter-box .fas {
    color: var(--red);
    margin: 1rem auto;
    display: block;
}
.counter-box .value {
    font-size: 2.75rem;
}
.counter-box span {
    width: 2rem;
    height: 2px;
    display: block;
    margin: 1rem auto;
    background: var(--gray);
}


/*                              team
********************************************/
.team-item {
    overflow: hidden;
    transition: var(--speed);
    position: relative;
}
.team-item img {
    width: 100%;
    display: block;
    object-fit: cover;
}
.team-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    color: var(--white);
    opacity: 0;
    transition: var(--speed);

    display: grid;
    gap: 5px;
    justify-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.team-item .line {
    width: 3rem;
    height: 2px;
    background: var(--white);
}
.team-item a i {
    color: var(--white);
    font-size: 1.5rem;
    margin: 0 5px;
    transition: var(--speed);
}

.team-item .team-desc,
.team-item .social {
    transition: var(--speed);
}
.team-item:hover .team-desc {
    transform: translateY(-50%);
}
.team-item:hover .social {
    transform: translateY(75%);
}
.team-item:hover .overlay {
    opacity: 1;
}
.fa-facebook-f:hover {
    color: #38538D;
}
.fa-twitter:hover {
    color: #55ACEE;
}
.fa-instagram:hover {
    color: #FB3958;
}


/*                              pricing
********************************************/
.table {
    text-align: center;
    color: #333333;
    padding: 2rem 1rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
}

.table .table-header {
    font-weight: bold;
    margin-bottom: 1.2rem;
}
.table .price {
    font-size: 3rem;
    line-height: 1.2;
}
.table p {
    font-weight: 500;
}

.table-list {
    margin: 1.5rem 0;
}
.table-list li {
    margin: .75rem 0;
}
.table-list li i {
    margin-right: .5rem;
}
.premium {
    background: var(--red);
    color: var(--white);
    transform: scale(1.05);
}

.table .button {
    margin-top: 10px;
}
.button-premium {
    background: var(--white);
    color: var(--red);
    padding: 10px 20px;
    border: 0;
}
.button-premium:hover {
    background: var(--white);
    color: var(--red);
}
/*                              testimonial
********************************************/
#testimonial {
    text-align: center;
    /* see #counter */
}
.testimonial > * {
    margin-bottom: 15px;
}
.testimonial p {
    padding: 0 5%;
}
.testimonial img {
    display: inline-block;
    width: 125px;
    margin: 15px;
    border: 2px solid var(--gray);
    border-radius: 50%;
}
.testimonial span {
    color: var(--red);
}
/*                              contact
********************************************/
.contact {
    grid-template-columns: 2fr 1fr;
}
.contact h3 {
    margin-bottom: 15px;
}
    /*  contact form    */
.form-inputs {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.form-inputs > div {
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
}
.form-inputs i {
    padding: 0 5px;
}
.form-inputs input,
.contact-form textarea {
    width: 85%;
    padding: 10px 5px;
    outline: none;
    border: 0;
    background: transparent;
}
.contact-form textarea {
    border: 1px solid var(--black);
    width: 100%;
    margin: 15px 0;
    padding: 15px 25px;
    height: 150px;
    font-family: inherit;
    font-weight: normal;
    font-size: 1rem;
}
.contact-form .button {
    cursor: pointer;
    background: transparent;
    font-size: 1rem;
    transition: var(--speed);
}
.contact-form .button:hover {
    background: var(--red);
    border-color: var(--red);
    color: var(--white);
}
    /*  contact info    */
.contact-info p {
    line-height: 1.75;
}
.contact-info a {
    color: var(--black);
}
.contact-info .social {
    margin: 10px 0;
}
.contact-info .social i {
    font-size: 1.25rem;
    margin: 8px;
}
/*                              footer
********************************************/
#footer {
    background: #282828;
    color: var(--white);
}
.footer-box h3 {
    margin-bottom: 1rem;
}
.footer-box .link {
    display: inline-block;
    font-weight: normal;
    margin: 5px 0;
}

.newsletter > * {
    margin-bottom: 10px;
}
.newsletter input {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    color: var(--gray);
    outline: none;
    border: 2px solid var(--gray);
    transition: var(--speed);
}
.newsletter input:focus {
    border-color: var(--red);
}
.newsletter .button {
    cursor: pointer;
    background: transparent;
    font-size: 1rem;
    transition: var(--speed);
}
.newsletter .button:hover {
    background: var(--red);
    border-color: var(--red);
    color: var(--white);
}

.footer-gallery {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-gallery img {
    width: 100%;
}
/*                              footer-bottom
********************************************/
#footer-bottom {
    background: #1D1D1D;
    padding: 1rem 0;
}
.footer-bottom {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.footer-bottom p a {
    color: var(--red);
}
.footer-nav {
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    justify-content: end;
}